.app__contact {
    height: 100vh;
    position: relative;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }

    .plate_perfection_logo_background {
        position: absolute;
        z-index: 1;
        top: 350px;
        width: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
    }
    
    .app__contact-components {
        z-index: 5;
        position: relative;
        margin-left: 5rem;
        margin-top: 2rem;
        display: inline-block;
        
        h1 {
            font-family:var(--font-secondary);
            line-height: 35px;
            font-weight: 500;
            font-size: 2rem;
            text-align: left;

        }

        .line2 {
            position: absolute;
            background-color: var(--primary-color);
            height: 0.6px;
            width: 100%;
            bottom: 0;
        }
    }
}

.app__contact-form {
    z-index: 10;
    margin-top: 50px;
}

.app__contact-container {
    width: 100%;
    margin: 1rem auto;
    position: relative;
    z-index: 5;

    .app__contact-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 0.3rem;
        position:relative;

        .plate_perfection_logo {
            width:35px;
            margin-right: 5px;
            margin-top: 6rem;
            
        }

        h1 {
            font-family:var(--font-primary);
            line-height: 35px;
            font-weight: 400;
            font-size: 1.5rem;
            margin-top: 6rem;
        }
    }

    .line__contact-title {
        background-color: var(--primary-color);
        z-index: 5;
        height: 0.6px;
        width: 125px;
        position: absolute;
        bottom:0;
    }
}