.app {
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: var(--font-primary);
}

.app__master-container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .app__master-container {
        max-width: 899px;
    }
}